<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start" class="ion-no-margin">
      <ion-back-button defaultHref="tabs/home" icon="chevron-back" mode="md" class="btn-back"></ion-back-button>
    </ion-buttons>
    <ion-title header-title> My Favourites</ion-title>
  </ion-toolbar>
  <ion-searchbar radious-searchbar placeholder="Quick Search " clearIcon="no" mode="md"
    searchIcon="../../../assets/svg_icon/Search_icon.svg"></ion-searchbar>

</ion-header>

<ion-content class="ion-padding-horizontal">
 <ion-card>
   <ion-card-content>
    <ion-list>
      <ion-item>
        <ion-label color="primary">
          <h3>Favourite one</h3>
        </ion-label>
        <ion-icon class="flex-right" slot="end" name="chevron-forward-outline"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-label color="primary">
          <h3>Favourite one</h3>
        </ion-label>
        <ion-icon class="flex-right" slot="end" name="chevron-forward-outline"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-label color="primary">
          <h3>Favourite one</h3>
        </ion-label>
        <ion-icon class="flex-right" slot="end" name="chevron-forward-outline"></ion-icon>
      </ion-item>
    </ion-list>
    

   </ion-card-content>
 </ion-card>

</ion-content>



