<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start" class="ion-no-margin">
      <ion-back-button defaultHref="tabs/home" icon="chevron-back" mode="md" class="btn-back"></ion-back-button>
    </ion-buttons>
    <ion-title header-title>Our Committee</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-horizontal">
  <div class="hexagon hexagon1">
      <div class="hexagon-in1">
        <div class="hexagon-in2">
           <img src="../../../assets/images/logo.png" >
        </div>
      </div>
    </div>

 
  <ion-list>
  	<ion-item lines="full">
      
      <ion-label>CHAIRMAN:</ion-label>
      <ion-label> </ion-label>
    </ion-item>
  
 <ion-item lines="full" >
       <ion-label>VICE-CHAIRMAN:</ion-label>
      <ion-label></ion-label>
    </ion-item>
    <ion-item lines="full" >
       <ion-label>TRESSURE:</ion-label>
      <ion-label></ion-label>
    </ion-item>

      <ion-item lines="full" >
    
     <ion-label>SECRETARY:</ion-label>
     <ion-label></ion-label>
    </ion-item>
    
    

    
  </ion-list>
</ion-content>
