<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start" style='color:white' class="ion-no-margin">

        <ion-menu-button></ion-menu-button>
  
      <ion-back-button defaultHref="tabs/home" icon="chevron-back" mode="md" class="btn-back"></ion-back-button>
    </ion-buttons>
    <ion-title header-title> Members' List</ion-title>
  </ion-toolbar>
  <ion-searchbar radious-searchbar placeholder="Quick Search " clearIcon="no" mode="md"
    searchIcon="../../../assets/svg_icon/Search_icon.svg" [(ngModel)]="term"></ion-searchbar>


</ion-header>

<ion-content class="ion-padding-horizontal">

 <div no-data *ngIf="data?.length == 0">
    <img src="../../../assets/images/no-data-icon-10.jpg" alt="no data">
  </div>



  <ion-item-group *ngFor="let item of data "  >
    <ion-item-divider color="secondary" sticky>
      <ion-label>{{ item.key }}</ion-label>
    </ion-item-divider>

    <ion-item  *ngFor="let user of item.users |filter:term "  (click)="viewFamily(user?.user_id)">

  <ion-avatar slot="start">
    <img src="../../../assets/svg_icon/avatar.svg">
  </ion-avatar>
  <ion-label>
  	          <h2>{{user?.firstname}} {{user?.midname}}  </h2>
        <!--<p>{{item?.mobile}}</p>-->
  </ion-label>

</ion-item>
</ion-item-group>  

    


  
</ion-content>
