<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start" class="ion-no-margin">
      <ion-back-button defaultHref="tabs/home" icon="chevron-back" mode="md" class="btn-back"></ion-back-button>
    </ion-buttons>
    <ion-title header-title>My Family</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-horizontal">
  <div no-data *ngIf="data?.length == 0">
     <img src="../../../assets/images/no-data-icon-10.jpg" alt="no data">
  </div>
  <div class="offer-section" *ngFor="let item of data">
    <div class="discount-text">
      <h6>{{item?.relation?.relation_desc}}</h6>
    </div>
    <div class="body-section">
      <h6>{{item?.mname}}</h6>
      <div class="bottom-section">
        <div class="date-section">
          
       <p class="date-label"> <i class="fas fa-map-marker-alt"></i> {{item?.native?.native_name}}</p>
       <p class="date-label"> <i class="fas fa-phone"></i> {{item?.mobile_no}}</p>
       <p class="date-label"> <i class="fas fa-envelope"></i> {{item?.memail}}</p>
        </div>
        <div class="btn-section">
          <ion-button mode="md" class="btn-apply ion-no-margin ion-text-capitalize" (click)="viewFamily(item?.relative_id)">

            <i class=" fas fa-eye"></i>
          
          </ion-button>
        </div>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-button expand="full" class="ion-no-margin btn-general" (click)="addRelative()">
    Add New Family Member
  </ion-button>
</ion-footer>