<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start" class="ion-no-margin">
      <ion-back-button defaultHref="tabs/home" icon="chevron-back" mode="md" class="btn-back"></ion-back-button>
    </ion-buttons>
    <ion-title header-title>My Adverts</ion-title>
  </ion-toolbar>
  <ion-searchbar radious-searchbar placeholder="Search here" clearIcon="no" mode="md"
    searchIcon="../../../assets/svg_icon/Search_icon.svg" [(ngModel)]="term"></ion-searchbar>
</ion-header>

<ion-content>
  <div class="salon-section" >
    <ion-card  *ngFor="let item of data">
       
        <ion-card-content>
            <ion-card-title>
              <ion-row>
                <ion-col size="9">
                  <div class="salon-name ion-text-center">
                    <h6 >{{item?.name}}</h6> 
                 </div>
                </ion-col>
                <ion-col size="3">
                  <ion-badge *ngIf="item?.status === 'Active'"  color="success">
                    {{item?.status}}
                 </ion-badge>
          
                 <ion-badge *ngIf="item?.status === 'Inactive'"  color="secondary">
                    {{item?.status}}
                  </ion-badge>
        
                </ion-col>
              </ion-row>
                
               
            </ion-card-title>
            


       <ion-row class="desc-row">
         <ion-col size="4">
          <ion-label class="res-head">Description: </ion-label> 
         </ion-col>
         <ion-col size="8">
          <ion-label class="small">{{item?.description}} </ion-label> 
        </ion-col>
        
       </ion-row>


       <ion-row class="jobs">

        <ion-col size="4" class="ion-no-padding">
          <span class="everage-star-label"><span class="span-lbl">From:</span> {{item?.start_date | date :'dd MMMM yyyy'}}</span>
        </ion-col>

        <ion-col size="4" class="ion-no-padding">
          <span class="everage-star-label"><span class="span-lbl">To:</span> {{item?.end_date | date :'dd MMMM yyyy'}}</span>
        </ion-col>
         
        <ion-col size="4" class="ion-no-padding">
          <ion-icon name="layers-outline" class="star-icon"></ion-icon>
          <span class="everage-star-label">Is Featured? ({{item?.is_featured}})</span>
        </ion-col>
        </ion-row>

        </ion-card-content>
        
            </ion-card>
        </div>
</ion-content>
