<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title></ion-title>
    <ion-buttons slot="start" class="ion-no-margin">
      <ion-back-button defaultHref="tabs/home" icon="chevron-back" mode="md" class="btn-back"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button fill="clear" class="btn-edit" (click)="editProfile()">
        <ion-icon slot="icon-only" src="../../../assets/svg_icon/edit.svg"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-horizontal">
  <div class="hexagon hexagon1">
    <div class="hexagon-in1">
      <div class="hexagon-in2"
        [style.backgroundImage]="'url('+(data?.imageUri ? data?.imageUri : 'http://placehold.it/100x100' )+')'"></div>
    </div>
  </div>
  <h5 class="name-text ion-text-center">{{data?.mname}}</h5>
  <ion-list>
  	<ion-item lines="full">
      
      <ion-label>MEMBER NO:</ion-label>
      <ion-label>{{data?.unique_member_id}} </ion-label>
    </ion-item>
  
 <ion-item lines="full" >
       <ion-label>RELATION:</ion-label>
      <ion-label>{{data?.relation?.relation_desc}}</ion-label>
    </ion-item>
    <ion-item lines="full" >
       <ion-label>NATIVE:</ion-label>
      <ion-label>{{data?.native?.native_name}}</ion-label>
    </ion-item>

      <ion-item lines="full" >
    
     <ion-label>DOB:</ion-label>
     <ion-label>{{data?.dob | date :'dd MMMM yyyy'}}</ion-label>
    </ion-item>
    <ion-item lines="full" >
    
      <ion-label>NATIONALITY:</ion-label>
      <ion-label>{{data?.nationality}}</ion-label>
    </ion-item>
    <ion-item lines="full" >
      <ion-label>BLOOD GROUP:</ion-label>
      <ion-label>{{data?.bgroup}}</ion-label>
    </ion-item>
    <ion-item lines="full" >
      <ion-label>PHONE:</ion-label>
      <ion-label>{{data?.mobile_no}}</ion-label>
    </ion-item>
    <ion-item lines="full" >
      <ion-label>EMAIL:</ion-label>
      <ion-label>{{data?.memail}}</ion-label>
    </ion-item>
    <ion-item lines="full" >
      <ion-label>SPORT REGISTERED:</ion-label>
      <ion-label>{{data?.sport?.sport_name}}</ion-label>
    </ion-item>
    
    <!-- <ion-item lines="full" (click)="viewPage('/customer-support')">
      <ion-icon slot="start" src="../../../assets/svg_icon/speech-bubble.svg"></ion-icon>
      <ion-label>Customer Support</ion-label>
    </ion-item>
    <ion-item lines="full" (click)="viewPage('/language-list')">
      <ion-icon slot="start" src="../../../assets/svg_icon/translate.svg"></ion-icon>
      <ion-label>English</ion-label>
    </ion-item> -->
    
  </ion-list>
</ion-content>
<ion-footer>
  <ion-button expand="full" class="ion-no-margin btn-remove" (click)="addRelative()">
    Remove Account
  </ion-button>
</ion-footer>