.app-logo{
    background-image: url('../assets/images/logo.png');
    height: 100px;
    width: 100px;
    background-repeat: no-repeat;
    border-radius: 220px;
    background-position: center;
    background-size: contain;
    margin: 30px auto;
}