<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start" class="ion-no-margin">
      <ion-back-button defaultHref="tabs/home" icon="chevron-back" mode="md" class="btn-back"></ion-back-button>
    </ion-buttons>
    <ion-title header-title> My Business</ion-title>
  </ion-toolbar>
  <ion-searchbar radious-searchbar placeholder="Quick Search " clearIcon="no" mode="md"
    searchIcon="../../../assets/svg_icon/Search_icon.svg"></ion-searchbar>

</ion-header>

<ion-content>
  <div class="search_div">
    <div class="chips_div">
      <div class="test" [class.active]="id == i" *ngFor="let item of moviesCat; let i = index">
        <ion-label class="chip" (click)="selectCat(item)">{{item}}</ion-label>
        <span class="line_span" *ngIf="id == item"></span>
      </div>
    </div>
  </div>


    <div class="search_card" *ngFor="let item of data">

      <div class="search_flex">

        <div class="search_detail">
          <ion-row>
            <ion-col size="9">
              <ion-label class="heal_lbl">    {{item?.business_name}} </ion-label><br/>
              <ion-label class="small"><span>{{item?.physicaladdress}}</span></ion-label>
            </ion-col>

            <ion-col size="3">
              <ion-label>
                <span>
                  <ion-badge *ngIf="item?.status === 'Pending'"  color="secondary">
                    {{item?.status}}
                  </ion-badge>
            
                  <ion-badge *ngIf="item?.status === 'Rejected'"  color="danger">
                      {{item?.status}}
                    </ion-badge>
            
                    <ion-badge *ngIf="item?.status === 'Accepted'"  color="success">
                      {{item?.status}}
                  </ion-badge> 
                </span>
              </ion-label>
            </ion-col>
          </ion-row>
          
          

         
          

          <div class="inner_flex">
            <ion-label class="small">{{item?.description}} </ion-label>
          </div>

          <ion-item lines="none">
            <div class="row">
             
              <ion-label> Contact: </ion-label>
              <ion-label> Email: </ion-label>
            </div>
            <div class="row">
              <ion-label class="small"> <span>{{item?.contact}}</span></ion-label>
              <ion-label class="small"> <span>{{item?.business_email}}</span></ion-label>
            </div>
            
          </ion-item>
          
          
          
        </div>
      </div> 

        
      <div class="row">
        <div class="col-12 res-div" *ngIf="item?.status === 'Rejected'" >
          <ion-label class="res-head">Response Info</ion-label>
          <div class="inner_flex">
            <ion-label class="small">{{item?.response_info}} </ion-label>
          </div>
          <ion-label> Date: </ion-label>
          <ion-label class="small"> <span>{{item?.response_date | date :'dd MMMM yyyy'}}</span></ion-label>
        </div>

        <div class="col-12 res-div" *ngIf="item?.status === 'Accepted'" >
          <ion-label class="res-head">Response Info</ion-label>
          <div class="inner_flex">
            <ion-label class="small">{{item?.response_info}} </ion-label>
          </div>
          <ion-label> Date:</ion-label>
          <ion-label class="small"><span>{{item?.response_date | date :'dd MMMM yyyy'}}</span></ion-label>
        </div>
      </div>
    </div>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button color="success" (click)="addbusiness()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>

</ion-content>
