<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start" class="ion-no-margin">
      <ion-back-button defaultHref="tabs/home" icon="chevron-back" mode="md" class="btn-back"></ion-back-button>
    </ion-buttons>
    <ion-title header-title>THE KENYAN PARTELS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-horizontal">
  <ion-card>
    <ion-card-header>
      <ion-card-title color="primary">
        THE HISTORY OF THE KENYAN PARTEL COMMUNITY
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
     
     <div class="search_card">
 
       <div class="search_flex">
 
         <div class="search_detail">
           <ion-row>
             <ion-col size="12"> 
               <ion-label class="heal_lbl">Background</ion-label><br/>  
             </ion-col>
           </ion-row>         
           
           <div class="inner_flex">
             <ion-text class="small">
               <p>Indians in Kenya are citizens and residents of Kenya with ancestral roots in the Indian subcontinent. Most are found in the major urban areas of Nairobi and Mombasa, with others living in rural areas.</p>
               <p>Significant Indian migration to modern-day Kenya began following the creation of the British East Africa Protectorate in 1895, which had strong infrastructure links with Bombay in British India.</p> 
              </ion-text>
           </div>     
           
         </div>



         <div class="search_detail">
          <ion-row>
            <ion-col size="12"> 
              <ion-label class="heal_lbl">Early History</ion-label><br/>  
            </ion-col>
          </ion-row>         
          
          <div class="inner_flex">
            <ion-text class="small">
              <p>Vasco da Gama recorded encountering Indian merchants along the coast of east Africa in the late 15th century. In Malindi he obtained the service of a Gujarati speaking sailor to navigate ships across the Indian Ocean to Calicut.</p>
              <p>By the early part of the 19th century, small numbers of Indian merchants could be found settled across the trading posts of East Africa. Their interests were enhanced when Said bin Sultan the Sultan of Muscat and Oman, subjected to the emergence of British naval supremacy in the Indian ocean and direct British political support for Indian merchants along the East African coast, adopted a series of favourable policies towards Indians in the region.</p> 
             </ion-text>
          </div> 
        </div>


        <div class="search_detail">
          <ion-row>
            <ion-col size="12"> 
              <ion-label class="heal_lbl">Present Day</ion-label><br/>  
            </ion-col>
          </ion-row>         
          
          <div class="inner_flex">
            <ion-text class="small">
              <p>Following the 1982 Kenyan coup d'état attempt to remove President Moi, many Asian shops and businesses in Nairobi were attacked and pillaged. Despite fears at the time within the community, it did not result in another exodus of Asians from the country.</p>
              <p>On 22 July 2017, the Uhuru Kenyatta government announced that the Asian community would be officially recognised as the 44th tribe in Kenya recognising the community's contribution to Kenya from the dawn of the nation.</p> 
             </ion-text>
          </div> 
        </div>


        <div class="search_detail">
          <ion-row>
            <ion-col size="12"> 
              <ion-label class="heal_lbl">Demography and religion</ion-label><br/>  
            </ion-col>
          </ion-row>         
          
          <div class="inner_flex">
            <ion-text class="small">
              <p>The 2019 Kenyan Census recorded 47,555 Kenyan citizens of Asian origin, while Asians without Kenyan citizenship numbered <span class="small">42,972</span> individuals</p>
              <p>The majority of Asians are Hindu. The leading caste-based subgroups within Kenyan Hinduism include Lohanas, Lohars, Rajput, Patels and Mehtas, among others. Their largest concentration is in Nairobi, where mandirs can be found in most neighbourhoods.</p> 
             </ion-text>
          </div> 
        </div>

        <ion-row class="allrows">
          <ion-col size="4">
          </ion-col>
          <ion-col size="4">
            <ion-label> Compiled By:</ion-label>
          </ion-col>
          <ion-col size="4">
            <ion-label class="small"> <span>Vinkesh Punjal</span></ion-label>
          </ion-col>
        </ion-row>

       </div> 
 
     </div>


    
 
    </ion-card-content>
  </ion-card>
 
 </ion-content>
