<ion-header class="ion-no-border">
  <ion-toolbar>
    <h3>Member, {{rdata?.name}}</h3>
    <p>Patel BrotherHood </p>
  </ion-toolbar>
  <!--<ion-searchbar radious-searchbar placeholder="Search for any lead" clearIcon="no" mode="md"
    searchIcon="../../../assets/svg_icon/Search_icon.svg" [(ngModel)]="term"></ion-searchbar>-->
</ion-header>

<ion-content class="ion-padding-horizontal">
 <!-- <ion-refresher slot="fixed" id="refresher" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>-->
 <!-- <h5 class="info-title">Puplic Health Facilities</h5>
  <p class="no_data_p" *ngIf="data?.popular_category?.length==0">No data</p>
  <div class="popular-category">

    <div class="main-section" (click)="viewList(item)" *ngFor="let item of data.popular_category |filter:term">
      <img [src]="item?.imageUri" alt="">
      <div class="text-section">
        <p class="ion-no-margin">{{item?.name}}</p>
      </div>
    </div>
  </div>-->
    <h5 class="info-title">Hot Deals</h5>
  <p class="no_data_p" *ngIf="data?.featured?.length==0">No data</p>
  <div class="featured_venue">
    <div class="featured-venues-section" *ngFor="let item of data?.featured |filter:term"
      (click)="viewSlonDetail(item?.id)">
      <img [src]="item?.imageUri" alt="">
      <h6 class="salon-name">{{item?.name}}</h6>
      <p class="salon-address">{{item?.sponsor_name}}</p>
    </div>
  </div>


 <!--<h5 class="info-title">Nairobi Community</h5>-->
  
  <div class="more-categories-section">

    <div class="main-section"  (click)="doMyFamily()">
      <img src="../assets/images/family.jpg">
      
      <div class="text-section">
        <p class="ion-no-margin ion-text-center">My Family</p>
      </div>
    </div>
    <div class="main-section"  (click)="otherFamily()">
      <img src="../assets/images/family_info.jpg">
      
      <div class="text-section">
        <p class="ion-no-margin ion-text-center">Family Info</p>
      </div>
    </div>
    
    <div class="main-section"  (click)="viewMatrimonial(item)">
      <img src="../assets/images/matrimonial.jpg">
      
      <div class="text-section">
        <p class="ion-no-margin ion-text-center">Matrimonial</p>
      </div>
    </div>
    
    <div class="main-section"  (click)="viewBusiness()">
      <img src="../assets/images/business_info.jpg">
      
      <div class="text-section">
        <p class="ion-no-margin ion-text-center">Business Info</p>
      </div>
    </div>

    <div class="main-section"  (click)="viewJobs()">
      <img src="../assets/images/job_info.jpg">
      
      <div class="text-section">
        <p class="ion-no-margin ion-text-center">Jobs Info</p>
      </div>
    </div>

 
    
    <div class="main-section"  (click)="viewCommitee()">
      <img src="../assets/images/committee.jpg">
      
      <div class="text-section">
        <p class="ion-no-margin ion-text-center">Committee</p>
      </div>
    </div>

  </div>





</ion-content>