<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start" class="ion-no-margin">
      <ion-back-button defaultHref="tabs/home" icon="chevron-back" mode="md" class="btn-back"></ion-back-button>
    </ion-buttons>
    <ion-title header-title>Business Sectors</ion-title>
  </ion-toolbar>
  <ion-searchbar radious-searchbar placeholder="Search here" clearIcon="no" mode="md"
    searchIcon="../../../assets/svg_icon/Search_icon.svg" [(ngModel)]="term"></ion-searchbar>
</ion-header>

<ion-content class="ion-padding-horizontal">
  <ion-refresher slot="fixed" id="refresher" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>


  <ion-card>         
    <ion-list>
       <ion-item *ngFor="let item of data"  (click)="businesslist(item?.id,item?.sector_name)">
         <ion-label>
            {{item?.sector_name}}
         </ion-label>
         <ion-badge color="tertiary"> 
          {{item?.businessinfo_count}}
         </ion-badge>
         <ion-icon class="flex-right" slot="end" name="chevron-forward-outline"></ion-icon>
      </ion-item>
    </ion-list>        
</ion-card>

</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-button expand="block" class="ion-no-margin btn-general" (click)="myBusinesses()">
      My Businesses
      <ion-icon class="float-right" slot="end" name="chevron-forward-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-footer>