ion-header {
    ion-toolbar {
      border-radius: 0px 0px 20px 20px;
      --background: var(--ion-color-dark-blue3);
    }
  }
  ion-content {
   --padding-top: 20px;
    .hexagon {
      overflow: hidden;
      visibility: hidden;
      transform: rotate(120deg);
      cursor: pointer;
    }
    .hexagon-in1 {
      overflow: hidden;
      width: 100%;
      height: 100%;
      transform: rotate(-60deg);
    }
    .hexagon-in2 {
      width: 100%;
      height: 100%;
      border-radius: 80px;
     
    }
  
    .hexagon1 {
      width: 100px;
      height: 90px;
      margin: 0px auto;
    }
  
    .name-text {
      font-family: "Fivo_sans_medium";
      color: var(--ion-color-blue);
      margin-top: 10px;
    }
    .btn-edit{
    color: var(--ion-color-white);
  
  
    }
    ion-list {
     
      ion-item {
        --padding-start: 8px;
        ion-icon {
          color: var(--ion-color-dark-blue3);
          font-size: 18px;
          
        }
        ion-label {
          font-size: 14px;
          //font-family: "Fivo_sans_medium";
          color: var(--ion-color-blue);
        }
      }
    }
  
  ion-card {
    background-color: white;
    margin: 0 !important;
    padding: 0 !important;
  }
  
  ion-grid {
    --ion-grid-padding: 8px;
    --ion-grid-width: 8px;
    --ion-grid-column-padding: 8px;
  }

  ion-button{
    margin-top: 4px;
  }

  .back_image {
    width: 100%;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
    .overlay_div {
      width: 100%;
      height: 100%;
      background: rgba(0,0,0,0.3);
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 16px;
      position: relative;

      .icn_flex {
          display: flex;
          align-items: center;
          margin-top: 40px;
          width: 100%;
          justify-content: flex-end;

          ion-icon {
              margin-right: 16px;
              color: white;
              font-size: 20px;
          }
      }

      .collection_lbl {
          text-transform: uppercase;
          color: white;
          text-align: left;
          font-size: 14px;
          letter-spacing: 1px;
          width: 100%;
          margin-bottom: 5px;
      }
      .line_div {
          width: 40px;
          height: 2px;
          background: white;
      }
      .off_lbl {
          color: white;
          font-size: 36px;
          font-family: 'semi-bold';
          text-align: left;
          width: 100%;
      }
      .white_lbl {
          color: white;
          width: 100%;
          text-align: left;
          font-size: 14px;
      }
      ion-button {
          position: absolute;
          bottom: 40px;
          right: 16px;
          letter-spacing: 1px;
      }
  }
  }

  .emailspan{
    text-transform: lowercase;
  }

  .sponser{
    font-size: 12px;
    text-transform: lowercase;
    //color: var(--ion-color-blue);
  }

  .sponser1{
    font-size: 12px;
    //font-family: "Fivo_sans_medium";
    color: var(--ion-color-blue);
  }

  }
  