<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start" class="ion-no-margin">
      <ion-back-button defaultHref="tabs/home" icon="chevron-back" mode="md" class="btn-back"></ion-back-button>
    </ion-buttons>
    <ion-title header-title>Job Details</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding-horizontal">
  <h4 class="name-text ion-text-center">{{data?.company_name}}</h4>
  
  <ion-list>
    <ion-item lines="full">
      <ion-icon slot="start" src="../../../assets/svg_icon/translate.svg"></ion-icon>
      <ion-label>{{data?.jobtitle}}</ion-label>
    </ion-item>

    <ion-item lines="full">
      <ion-icon slot="start" src="../../../assets/svg_icon/translate.svg"></ion-icon>
      <ion-label>{{data?.no_of_vacancies}} Position(s)</ion-label>
    </ion-item>

     <ion-item lines="full" >
      <ion-icon slot="start" src="../../../assets/svg_icon/speech-bubble.svg"></ion-icon>
      <ion-label>{{data?.experience}}</ion-label>
    </ion-item>
  </ion-list>


   <ion-card>
    <ion-card-header>
      <ion-card-title><h5>Job Requirements</h5></ion-card-title>
    </ion-card-header>

      <ion-item  lines="full">
        <ion-text>
        	 <p [innerHtml]="data?.job_requirements"> </p>
        </ion-text>
      </ion-item>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title><h5>Job Qualifications</h5></ion-card-title>
    </ion-card-header>

      <ion-item  lines="full">
        <ion-text>
        	 <p [innerHtml]="data?.job_qualifications"> </p>
        </ion-text>
      </ion-item>
  </ion-card>


<ion-row>
  <ion-col size="6">
    <ion-item>
      <ion-label>Deadline: {{data?.appln_deadline | date :'dd MMMM yyyy'}}</ion-label>
    </ion-item>
  </ion-col>
  <ion-col size="6">
    <ion-item lines="none">
      <ion-label>{{data?.email}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>{{data?.contact}}</ion-label>
    </ion-item>    
  </ion-col>
</ion-row>


</ion-content>
<!--<ion-footer>
  <ion-button expand="full" class="ion-no-margin btn-general" (click)="bookNow()">
    Apply  Now
  </ion-button>
</ion-footer>-->